.bg {
  background-image: url('../assets/mobile/image-host.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: .1;

  // tablet
  @media (min-width: 768px) {
    background-image: url('../assets/tablet/image-host.jpg');
    height: 47.9375rem;
    width: 30.6875rem;
    left: unset;
    right: 0;
    top: 0px;
    opacity: .8;
  }

  // desktop
  @media (min-width: 1440px) {
    background-image: url('../assets/desktop/image-host.jpg');
    height: 40rem;
    width: 55.5rem;
    top: 8.125rem;
  }
}